.sidebar-ul{
	list-style-type:none;
           }

.btn-primary{
	width:100%;
}    

ul li{
	list-style: none;
}

.sidebar .navbar-inverse .navbar-collapse {
    border-color:white;
}

.navbar-header{
	margin-top:50px;
}

.sidebar-btn{
    width: 75%;
    margin-right: 13%;
    color:black;
	font-weight:bold;
	background: #ebebe0;
}
      

.sidebar-ul li a{
     color:white;
     /*padding:10px;*/
   }

 .sidebar-ul li a:hover{
     text-decoration: none;
    }  


 .first-heading{
	margin-top:40px;
	margin-bottom:60px;
	padding-bottom:5px;
	border-bottom: 1px solid #ff8000;
	color:#ff8000;
}

.first-heading:hover{
	border-bottom: 1px solid #b35900;
	color:#b35900;
}   

.btn-primary a{
	color: white;
    text-decoration: none;
}

.total-cost{
	color: green;
	font-size: 18px;
	font-weight: bold;
	font-family: monospace;
}

.search{
	margin-bottom: 55px;
}

.tab-padding th, .tab-padding td{
	padding:20px !important;
}

img.pro-img{
	min-height: 195px;
}

img.product-img{
	max-height:55px;
}

img.member-img{
   width: 85px;
   max-height:50px;
}

.sidebar>.navbar-inverse{
	background-color: white;
    border-color: white;
}